<% provide(:title, 'About') %>
<%= render 'layouts/staticbanner' %>
<h1>About</h1>
<p class="lead">Future Young Professionals has expanded and increased it's ability to provide job shadowing opportunities to students in the Central New York area.</p>

