<% provide(:title, 'About') %>
<%= render 'layouts/staticbanner' %>
<div class="well">
  <h2>About</h2>
  <p class="lead">Future Young Professional's has expanded and increased its ability to provide job shadowing opportunities to students in the Central New York area.</p>
</div>
<div class="row">
  <div class="col-sm-5 col-lg-5 col-md-offset-1">
    
      <p>Future Young Professionals is a program that enables students in grades 7-12 by offering job shadowing and other opportunities to connect with young professionals.</p>
      <br>
      <p>Young professionals make ideal role models for students looking to explore different careers and a future they will enjoy.</p>
      <br>
      <p>Strengthening connections within the young community of Syracuse helps to ensure it's continued prosperity.</p>
      <br>
      <p>The Future Young Professionals program facilitates that by putting students in touch with their future peers.</p>
    
  </div>
  <div class="col-sm-5 col-lg-5">
    
      <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%", :class => "img-circle") %>
    
  </div>
  <div class="col-sm-1 col-lg-1">
  </div>
</div>
