<% provide(:title, 'About') %>
<%= render 'layouts/staticbanner' %>
<div class="well">
  <h2>About</h2>
  <p class="lead">Future Young Professional's has expanded and increased its ability to provide job shadowing opportunities to students in the Central New York area.</p>
</div>
