<% provide(:title, 'Administrators') %>
<%= render 'layouts/staticbanner' %>
<h1>Administrators</h1>
<p class="lead">Are you interested in starting a future young professionals program at your school, in your community?</p>
<div class="row">
  <div class="col-sm-4 col-lg-4">
      <h4>We can help:</h4>
      <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
      <p>similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
	and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
	too faint or to</p>
  </div>
  <div class="col-sm-4 col-lg-4">
      <h4>Handles Administration:</h4>
      <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
      <p>similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
	and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
	too faint or to</p>
  </div>
  <div class="col-sm-4 col-lg-4">
    <h4>Effortless:</h4>
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
    <p> similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
    and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
    too faint or t</p>
  </div>
</div>

