<%= provide(:title, 'Businesses') %>
<%= render 'layouts/staticbanner' %>


<h1>Businesses</h1>
<p class="lead">Included among the many benefits in getting involved with future young professionals 
as a business are:</p>

<div class="row">
  <div class="col-sm-5 col-lg-5 col-md-offset-2">
    <br>
    <br>
    <p>ible bodies, quick reflexes, sharp retractable claws, 
      and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
      too faint or too high in frequency for human ears, such as those made by mice</p>
    <br>
    <p>ible bodies, quick reflexes, sharp retractable claws, 
      and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
      too faint or too high in frequency for human ears, such as those made by mice</p>
    <br>
    <p>ible bodies, quick reflexes, sharp retractable claws, 
      and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
      too faint or too high in frequency for human ears, such as those made by mice</p>
    <br>
  </div>
  <div class="col-sm-5 col-lg-5">
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
  </div>
</div>
