<% @title = "Home" %>
<%= render 'layouts/carousel' %>

<div class="row">
  <div class="col-xs-6 col-sm-4 col-lg-4">
    Hello World! What should we put here? Some fancy thumbnail links?
  </div>
  <div class="col-xs-6 col-sm-4 col-lg-4">
    Hello world! What should we put here? Maybe a brief introduction to the program?
  </div>
  <div class="col-xs-6 col-sm-4 col-lg-4">
    Hello world! What should we put here? We could have it unfold as the user scrolls do?
  </div>
</div>
