<% provide(:title,'Professionals') %>
<%= render 'layouts/staticbanner' %>

<h1>Professionals</h1>
<p class="lead">  to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too faa young professional to their community, </p>

<div class="row">
  <div class="col-sm-2 col-lg-2">
  </p>Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
  and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too fa</p>
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-2 col-lg-2">
  Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
  and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too fa
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}2.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-2 col-lg-2">
  Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
  and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too fa
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}3.jpg", :width => "100%", :height => "100%") %>
  </div>
</div>
