<% provide(:title,'Professionals') %>
<%= render 'layouts/staticbanner' %>

<h1>Professionals</h1>
<p class="lead">Here are a few key benefits to the student and community when you host as a young professional, x, y, z.  In addition to what you
are contributing here are some ways that this program benefits you professionally:</p>

<div class="row">
  <div class="col-sm-2 col-lg-2">
  </p>This is a really impactful and meaningful benefit for an individual that will make people interested in getting involved with the program whether
they care to help out their community or not.</p>
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-2 col-lg-2">
  Here's another one that I am just skimming over really quickly, increasingly becoming convinced that signing up for this program will help me professionaly.
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}2.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-2 col-lg-2">
  Finally, the cou de gras (sic?), this last point convinces even the laziest and less prone to involvment young professional out there to hit sign up in the
  corner of the website and start looking to host a student.
  </div>
  <div class="col-sm-2 col-lg-2">
    <%= image_tag("#{@pagename}3.jpg", :width => "100%", :height => "100%") %>
  </div>
</div>
