<% provide(:title,'Professionals') %>
<div class="jumbotron">
<h1>Professionals</h1>
<p>Your life will be awesome if you just host a student, Professional.  Don't believe me?
Sign up and find out!</p>
</div>
