<div class="well">
  <h2>Thanks to our sponsors</h2>
  <p>Without the contributions of the organizations and companies below, the Future 40Below'er program would not be able to direct students towards a fulfilling and successful professional career.</p>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="logo">
      <%= image_tag("40B_Logo.png", :class => "image-responsive", :width => "100%", :alt => "40Below Logo") %>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="logo">
      <%= image_tag("LPNS_Logo.jpg", :class => "image-responsive", :width => "100%", :alt => "LPNS Logo") %>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="logo">
      <%= image_tag("scsd_logo.jpg", :class => "image-responsive", :width => "100%", :alt => "SCSD Logo:") %>
    </div>  
  </div>
  <div class="col-xs-3">
  <div class="logo">
      <%= image_tag("bizjournal_logo.jpg", :class => "image-responsive", :width => "100%", :alt => "Business Journal") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3"> 
  </div>
  <div class="col-xs-3">
  </div>
  <div class="col-xs-3">
  </div>
  <div class="col-xs-3">
  </div>
</div>
