<% provide(:title,'Students') %>
<div class="jumbotron">
<h1>Students</h1>
<p>This page can be a resource for students, walking them through what to expect, as well as providind additional
resources</p>
</div>
