<% provide(:title,'Students') %>


<%= render '/layouts/staticbanner' %>
<div class="well sm-well">
  <h1>Students</h1>
  <p>This page can be a resource for students, walking them through what to expect, as well as providind additional
    resources</p>
</div>
<div class="row">
  <div class="col-sm-3 col-lg-3">
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-7 col-lg-7">
     <p>Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
  and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too faint or too high in frequency for human ears, such as those made by mice and other small animals. They can see in near darkness. 
  Like most other mammals, cats have poorer color vision and a better sense of smell than humans.</p>
  </div>
</div>

