<% provide(:title,'Students') %>


<%= render '/layouts/staticbanner' %>

  <h1>Students</h1>
  <p class="lead">Shadowing a young professional gives students an opportunity to experience working in a field of their interest, providing
  guidance and direction.</p>

<div class="row">
  <div class="col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
    <%= image_tag("#{@pagename}1.jpg", :width => "100%", :height => "100%") %>
  </div>
  <div class="col-sm-6 col-lg-6">
     <p>Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, 
  and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds 
  too faint or too high in frequency for human ears, such as those made by mice and other small animals. They can see in near darkness. 
  Like most other mammals, cats have poorer color vision and a better sense of smell than humans.</p>
  </div>
</div>

