<% provide(:title, 'Testimonials') %>
<%= render 'layouts/staticbanner' %>
<div class="well">
  <h2>Testimonials</h2>
  <p class="lead">Hear from students and professionals that have participated in the Future
  40Below'er program</p>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
    <p class="small text-center panel-body">"... (the student) was completely engaged and asked many insightful questions.
    If all of your students are as enthusiastic as him we are in for a very bright future."
    <p class="text-muted text-center">Host - Spring 2014</p></p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <p class="small text-center panel-body">"... (the student) was completely engaged and asked many insightful questions.
        If all of your students are as enthusiastic as him we are in for a very bright future."
      <p class="text-muted text-center">Host - Spring 2014</p></p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <p class="small text-center panel-body">"... (the student) was completely engaged and asked many insightful questions.
        If all of your students are as enthusiastic as him we are in for a very bright future."
      <p class="text-muted text-center">Host - Spring 2014</p></p>
    </div>
  </div>
</div>