
<% @user = User.find(current_user)
   if @user.role == 'admin' %>

<ul>
  <li><%= link_to 'New Mou', new_mou_path %></li>
  <li><%= link_to "Submitted MOU's", mous_path %></li>
  <li><%= link_to "User Registration", new_user_registration_path %></li>
  <li><%= link_to "Category Creation", new_category_path %></li>
<% else %>

<h1>GET OUT OF MY ROOOOOOOM!</h1>

<% end %>
