<div class="jumbotron">
<h1>Sorry College Students</h1>
<p>We're not really sure where you fit into this model.  Are you students? Yes. Are you professionals? At times, yeah.
So, after the last discussion left two dead and three wounded we decided we'd worry about it later.  
</div>

<h4>However, if you are employed and interested in hosting a student at your place of work:</h4>
<%= link_to "Sign an MOU", new_mou_path %>
