<div class="well">
<h1>Please Take the Next Step by Filling Out a Memorandum of Understanding:</h1>
<p>A memorandum of understanding confirms with Future Young Professionals that you know what is 
expected of you as a host.  It's our way of making sure that everyone is on the same page and students
are getting the best possible experience.</p>
</div>
<h2><%= link_to "Add An MOU", new_mou_path %></h2>




