<% @role = current_user.role
   if @role == 'professional' or
      @role == 'admin' %>

<h1>New mou</h1>

<%= render 'form' %>

<%= link_to 'Back', mous_path %>

<% else %>

<h1>You shall not pass</h1>

<% end %>
