<% @role = current_user.role
   if @role == 'professional' or
      @role == 'admin' or 
      @role == 'college-student'
   %>

<div>
   <h1>Memorandum of Understanding:</h1>
   <br>
   <br>
   <%= render 'form' %>
   <%= link_to 'Back', mous_path %>
</div>
  

       <% else %>
       
<h1>You shall not pass</h1>

<% end %>
