#menu{
  position:fixed;
  top: 8%;
  left:22%;
  right: 22%;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  p {
    font-size: 48pt;
    color: #000000;
    margin-bottom: 2.5%;
  }
}

#menu-links {
  margin-left: 7%;
  margin-right: 3%;
}



#menu

  li {
    display:inline-block;
    margin: 10px;
    font-size: 18pt;
    a {
      color: #000000;
    }
  }

#event-link {
  z-index: 100;
  text-align: center;
}

#home {
  background-image: image-url("syracuse_old.jpg");
}

#home_container {
  height: 350px;
  margin-top: 7.5%;

}

.copy-text {
  margin-top: 5%;
  color: #000000;
}

.home-logo {
  margin-top: 5%;
  float: right;
}

#about {
  background-image: image-url("classroom.jpg");
}

#about_container {
  height: 350px;
  margin-top: 7.5%;

}

.about-img {
  padding: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.about-text {
  color: #000000;
}
.buttons {
  z-index: 1;
  float: right;
  display: inline-block;
}

#school-section {
  background-image: image-url("school-background.jpg");
  background-size: cover;
}

.schools-text {
  font-size: xx-large;
  line-height: 125%;
  color: #000000;
}

.schools-block {
  font-size: x-large;
  line-height: 125%;
  color: #000000;
  li {
    list-style-type: none;
    padding-bottom: 5%;
  }
}


#schools-container {
  height: 350px;
  margin-top: 7.5%;
}

#business-section {
  background-image: image-url("businesses-background.jpg");
  background-size: cover;
}

#business-slide-1 {

}

.business-text {
  font-size: xx-large;
  color: black;
  text-align: center;
  line-height: 125%;
  margin-top: 7.5%;
}

.business-image {
  margin-top: 7.5%;
  float: left;
  height: 250;
  width: 250;
}


