<div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/community-154d18e28b45a77fd8a86f5fd5bef82f.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide", alt="First slide" 
	   style="height: 500px; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>An easy way to get involved.</h1>
              <p>A small commitment from you can give a student direction that will affect their entire life.</p>
              <p><a class="btn btn-large btn-primary" href="/mous/new">Host a Student</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/student-bc67d819fcf37a76c445eb6e2b4f3190.jpg" alt="Second slide", data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" 
          style="height: 500px; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>How to get involved as a Business</h1>
              <p>Committ to annually sponsoring a group of students at your business and get free advertising and other benefits from
	      the Future 40Below'ers Program.</p>
              <p><a class="btn btn-large btn-primary" href="/businesses">For Students</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/professional-77959593ca72f8b8495ea47abf795681.jpg" alt="Third slide", data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" 
          style="height: 500px; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Why host a student?</h1>
              <p>Hosting a student has benefits beyond the extra education a student receives, how can hosting a student benefit you, and your business.</p>
              <p><a class="btn btn-large btn-primary" href="/professionals">For Professionals</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
      
      </a>
    </div>

<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>
