<%= stylesheet_link_tag "application" %>

<div class="logo">
  <%= image_tag("40B_Logo.png", :class => "image-responsive", :alt => "40Below Logo") %>
</div>
<div class="logo">
  <%= image_tag("LPNS_Logo.jpg", :class => "image-responsive", :size => "160x70", :alt => "LPNS Logo") %>
</div>
<div class="logo">
  <%= image_tag("SCSD_Logo.gif", :class => "image-responsive", :alt => "SCSD Logo:") %>
</div>
