<%= stylesheet_link_tag "application" %>

<div class="logo">
  <%= image_tag("40B_Logo.png", :size => "300x160", :alt => "40Below Logo") %>
</div>
<div class="logo">
  <%= image_tag("LPNS_Logo.jpg", :size => "300x160", :alt => "LPNS Logo") %>
</div>
